.promo {
  padding: 90px 0 312px 0;

  &__tabs {
    display: flex;
  }
  &__tab {
    font-size: 36px;
    line-height: 110%;
    letter-spacing: 0.07em;
    text-transform: uppercase;
    font-weight: 700;
    color: $main-color;
    &:not(:last-child) {
      margin-right: 55px;
    }
  }
  &__tab-active {
    position: relative;
    &:hover {
      &::after {
        width: 100%;
      }
    }
    &::after {
      content: "";
      display: block;
      position: absolute;
      width: 0%;
      height: 5px;
      top: 110%;
      left: 0;
      background-color: $main-color;
      transition: 0.8s;
    }
  }
  &__title {
    margin-top: 113px;
  }
  &__wrapper {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    margin-top: 70px;
  }
  &__item-left {
    max-width: 600px;
    margin-right: 190px;
  }
  &__item-right {
    max-width: 600px;
    margin-top: 87px;
    margin-right: 262px;
  }
  &__descr {
    margin-top: 25px;
    font-size: 18px;
    line-height: 130%;
    color: $main-color;
    p {
      margin-top: 8px;
    }
  }
  &__image-right {
    width: 860px;
  }
  &__image-left {
    width: 600px;
    margin-right: 188px;
    margin-top: 87px;
  }
  &__image-right,
  &__image-left {
    img {
      max-width: 100%;
    }
  }
}
